.AppBar {
  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;

  width: 100%;
  height: var(--app-bar-height);

  padding: 0 12px 0 16px;
  box-sizing: border-box;

  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
}

.section {
  display: flex;
  align-items: center;

  height: 100%;

  box-sizing: border-box;
}

.section > div {
  flex: 1;
}

.section.right {
  display: flex;
  justify-content: flex-end;
}
