.Comment {
  padding: 0 0 0 0;
  /* margin: 16px; */
  /* box-sizing: border-box; */
  margin-bottom: 24px;
}

.username {
  font-weight: bold;
}

.username.isOwner {
  color: red;
}

.headerRow {
  display: flex;
  justify-content: space-between;
}

.dead .Comment {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  gap: 12px;
}

.children .Comment {
  padding-left: 16px;
}

.children {
  margin: 24px 0;
  border-left: 2px solid;
}

.children .children {
  /* margin-left: 16px; */
}

.deadEmoji {
  padding-right: 12px;
}

.htmlComment {
  /* padding: 12px 0; */
}

.htmlComment p {
  font-style: normal;
}

.htmlComment a {
  word-break: break-all;
}

.htmlComment pre {
  white-space: break-spaces;
}

.htmlComment code {
  font-size: 0.9em;
  white-space: break-spaces;
  word-break: break-all;
}
