.CommentItem {
  /* box-sizing: border-box; */
  /* margin: 16px; */
  padding: 16px;
  box-sizing: border-box;

  display: grid;
  grid-auto-flow: row;
  grid-gap: 16px;
}

.CommentItem.dead {
  opacity: 0.66;
}

.username {
  font-weight: bold;
}

.username.isOwner {
  color: red;
}

.headerRow {
  display: flex;
  justify-content: space-between;
}

.children .CommentItem {
  padding-left: 16px;
  padding-right: 0;
  padding-bottom: 0;
}

.content {
  display: grid;
  grid-auto-flow: row;
  gap: 16px;
}

.children {
  border-left: 2px solid;
  display: grid;
  grid-auto-flow: row;
  gap: 16px;
}

.children .children {
  /* margin-left: 16px; */
}

.deadEmoji {
  padding-right: 12px;
}

.htmlComment {
  /* padding: 12px 0; */
}

.htmlComment p {
  font-style: normal;
}

.htmlComment a {
  word-break: break-all;
}

.htmlComment pre {
  white-space: break-spaces;
}

.htmlComment code {
  font-size: 0.9em;
  white-space: break-spaces;
  word-break: break-all;
}
