.Modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  min-height: 100vh;

  z-index: var(--modal-index);
}

.Modal.open {
  opacity: 1;
  pointer-events: all;
}

.Modal.closed {
  opacity: 0;
  pointer-events: none;
}

.scrim {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.38);
}
